@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        @apply flex flex-col items-center gap-1 text-slate-200
    }
    .nav-icon-figure {
        @apply px-4 py-1 rounded-full transition-colors group-hover/nav-item:bg-slate-500
    }

    .main-sec {
        @apply space-y-8 lg:px-[10%] xl:px-[15%]
    }
    .icon-text {
        @apply flex flex-row items-center gap-1.5
    }
    .heading {
        @apply font-semibold text-slate-200
    }

    .admin-input {
        @apply w-full px-3 py-2.5 text-slate-300 bg-[rgb(18,24,27)] bg-opacity-75 placeholder:text-slate-500 rounded-[.5rem] outline-none transition-colors focus:bg-opacity-100
    }
}

:root {
    --color-primary-gradient-from: #41d1ff;
    --color-primary-gradient-to: #a058fe;
}

* {
    @apply scroll-smooth
}

p {
    @apply leading-relaxed
}

p a {
    @apply text-sky-500 underline
}

.highlight {
    background: linear-gradient(
        120deg, 
        var(--color-primary-gradient-from),
        var(--color-primary-gradient-to)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type="file"]::file-selector-button {
    cursor: pointer;
    color: rgb(203 213 225);
    background: transparent;
    border: none;  
}